body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f1f1f1;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.controls {
    text-align: center;
    margin-bottom: 10px;
}

#map {
    height: 90vh;
    width: 100%;
}
